@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #DEC484;
    }
    #hero-msg h1 {
        color: #DEC484;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 100%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#background {
    height: 725px;
    background-color: #577E89;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 20px;
    justify-items: center;
}

nav a {
    text-decoration: underline;
    color: white;
    text-align: center;
    padding: 35px;
}

.home-title {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
    color: black;
    text-decoration: underline;
    background-color: #DEC484;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: white;
    background-color: #6F9F9C;
    border-radius: 5px;
}

.msg {
    background-color: #577E89;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}

.msg h2 {
    color: white;
    background-color: #6F9F9C;
    font-family: "Poppins", sans-serif;
}

.msg p{
    color: #DEC484;
    background-color: #6F9F9C;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    color: white;
    background-color: #6F9F9C;
    font-family: "Roboto", sans-serif;
    padding: 25px 50px;
    margin-top: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer a {
    color: #DEC484;
    text-decoration: underline;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
    width: 100%;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;
}

.button-box {
    text-align: center;
    color: #6F9F9C;
}

main section {
    text-align: center;
    color: #577E89;
}

main section img {
    box-sizing: border-box;
}


body{
    background-color: white;
    color: #6F9F9C;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(20, 30, 13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: white;
    color: #6F9F9C;
}

nav {
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}

.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #577E89;
    transition: transform .1s;
    box-shadow: 5px 5px 10px #577E89;
}

.card-img:hover {
    opacity: .90;
    transform: scale(1.05);
}


.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #577E89;
}

.msg {
    background-color: #577E89;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #577E89;
}