body {
    display: grid;
    place-items: center;
    height: 100vh;
}

#formContainer {
    position: relative;
    display: grid;
    background-color: white;
    margin: 0 auto;
    height: 100vh;
    width: 500px;
    height: 700px;
    border-radius: 30px;
    
    border: solid darkblue;
    border-width: 10px;
    
    row-gap: 10px;
}

.banner, img {
    width: 100%;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;

}

.section2 {
    display: grid;
    text-align: center;
}

#myForm {
    display: grid;
    text-align: left;
    width: 100%;
}

#closeBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0 auto;
}

.scriptures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    width: 100%;
}

.scriptures, img {
    width: 90px;
    margin-top: 10px;
    gap: 5px;
    justify-content: center;
}