body {
    background-color: #eddcd9;
    width: 75%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

nav {
    color: #de5499;
    text-align: center;
    width: 100%;
    height: 40px;
    align-content: center;
    font-size: 1.25em;
    padding-bottom: 25px;
    padding-top: 25px;
}
img {
    width: 300px;
    background-color: #eddcd9;
    border-radius: 50%;
}
.main-container {
    text-align: center;
    padding: 10px;
    background-color: #f2ebe9;
}

.nav-element {
    padding: 20px;
    background-color: #f2ebe9;
    color: #de5499;
    text-decoration: none;
}

h2 {
    color: #264143;
    background-color: #eddcd9;
    align-content: center;
    border-radius: 5%;
    width: 200px;
    height: 100px;
    font-size: 2em;
}

h1 {
    font-weight: 300;
    color: #264143;
    font-size: 40px;
    text-align: center;
}

p {
    color: rgb(234, 138, 90);
    font-size: 30px;
}

#ice-container {
    background-color: #f2ebe9;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.ice-card {
    background-color: #de5499;
    min-width: 200px;
    min-height: 200px;
    height: 100px;
    color: #f2ebe9;
    text-decoration: none;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    align-content: center;
    border-radius: 25%;
    font-size: 30px;
}

.content {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wwr {
    display: grid;
    justify-content: center;
    font-size: 1.5em;
    color: #de5499;
}

footer {
    height: 50px;
    color: #f2ebe9;
    background-color: #264143;
    text-align: center;
    align-content: center;
}