body {
    background-color: #cfcfcf;
    font-family: Arial, Helvetica, sans-serif;
}

.departureinfo {
    background-color: #213b56;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.departureinfo h2 {
    color: white;
    font-size: 28px;
    margin: 13px 0;
}

.departureinfo h4 {
    color: #213b56;
    font-size: 10px;
}

.gateinfo {
    background-color: white;
    color: #213b56;
}

#boardingpass {
    background-color: white;
    max-width: 50%;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    padding: 11px 35px 0 25px;
}

.logo {
    text-align: right;
}

header .name {
    margin-top: 10px;
}

footer {
    background-color: white;
}